<table>
	<% @renters.each do |r| %>
		<tr>
			<td><%= link_to r.name, r %></td>
			<td><%= link_to r.room.name, r.room %></td>
			<td><%= link_to r.room.unit.name, r.room.unit %></td>
		</tr>
	<% end %>
</table>