<html>
	<head>
		<title>
			Desmond's List.  Your search for a room is over in a big way.
		</title>
	</head>
<body>
	<div id='pitch'>
		If you are moving to New York, or just visiting, and need a room, Desmond can help.  He knows the city from all sides thanks to his extensive experience doing everything from helping MTV invent reality TV back in the day, to being one of the most prolific and respected promoters on the Manhattan club scene.  Throughout his long history in New York, this Oakland transplant has provided rooms for dozens of young people who were just moving to the city and getting their bearings.  It's not just a room, it's a leg up!<br><br>
		To ensure the privacy of the roommates living there now, we aren't currently publishing information like addresses of the properties online.  To find out more about available rooms (which can be secured for either short or long-term stays), please call Ronnie at 646 403-7009.  We definitely have some of the best locations in Brooklyn!
	</div>
</body>
</html>