<table>
	<% @chores.each do |c| %>
	  <tr>
			<td><%= link_to c.name, c %></td>
			<td><%= link_to c.manager.name, manager_chores_path(c.manager) %></td>
			<td><%= link_to c.unit.name, c.unit %></td>
		</tr>
	<% end %>
</table>
<%= link_to 'new chore', new_chore_path %>